:root {
  --color-white: #ffffff;
  --color-black: #202020;
  --color-glass: rgba(255, 255, 255, 0.05);
  --color-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  background: #000;
  
}

body {
  background: url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100%;
  background-size: cover;
 min-height: 100vw;
 min-width: 100vh;
  
}

.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 16px;
  max-width: 1200px;
}

.heading {
  text-align: center;
  margin-bottom: 4em;
  max-width: 1200px;
}

.heading h1 {
  text-shadow: var(--color-shadow);
  font-size: 6.2em;
  font-weight: 600;
  letter-spacing: 0.15em;
  max-width: 2048px;
}

.heading h3 {
  font-size: 1.6em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--color-glass);
  backdrop-filter: blur(12px);
  box-shadow: var(--color-shadow);
  padding: 8px 30px;
  display: inline-block;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 1);
max-width: 2048px;
}

.countdown {
  width: 95vw;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  gap: 10px;
  max-width: 2048px;
}

.box {
  width: 28vmin;
  height: 29vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  
}

span.num {

  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 4em;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 1);
  font-size: 80px;
  max-width: 2048px;
}

span.num:after {
content: "";
position: absolute;
background-color: var(--color-glass);
height: 100%;
width: 50%;
left: 0;
max-width: 2048px;

}

span.text {
  font-size: 1em;
  background-color: var(--color-white);
  color: var(--color-black);
  display: block;
  width: 80%;
  position: relative;
  text-align: center;
  bottom: 20px;
  padding: 0.7em 0;
  font-weight: 600;
  border-radius: 0.3em;
  box-shadow: var(--color-shadow); 
  max-width: 2048px;
}

.heading h1 {
    /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
margin-top: 10px;
  
}

.heading h2 {
  margin-top: 10px;
  display: table-column-group;

}

@media only screen and(min-width: 900px) and (max-width: 1200px) {
  .body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
  }
}